.searchContainer {
    position: relative;
    margin-bottom: 1rem;
}

.search {
    display: flex;
    height: 3em;
    align-items: center;
}

.searchBar {
    padding-left: 3rem;
    width: 100%;
    background-color: var(--dark-navy);
    border: none;
    outline: none;
    height: 100%;
}

.searchBar:focus {
    color: var(--white);
}

.searchBar:active, .searchBar:focus-within {
    border-bottom: 1px solid var(--soft-blue);
    outline: none;
    margin-bottom: -1px;
}

.icon {
    position: absolute;
}