.bookmarkedMoviesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5em;
}

.title, .bookmarkItem {
    margin-bottom: 1em;
}

.poster {
    border-radius: var(--border-radius);
}

.container {
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}