html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
:root {
    --red: #FC4747;
    --dark-navy: #10141E;
    --soft-blue: #5A698F;
    --navy: #161D2F;
    --white: #FFF;
    --large-heading: 2rem;
    --medium-heading: 1.5rem;
    --small-heading: 1.5rem;
    --xs-heading: 1rem;
    --border-radius: 10px;
}

body {
  background: var(--dark-navy);
  display: flex;
  padding: 2rem;
}

main {
  width: 100%;
  background-color: var(--navy);
  border-radius: var(--border-radius);
  margin-left: 1em;
}

h1, h2, h3, h4, p {
  color: var(--white);
}

.container {
  padding: .5em 1em;
  border-radius: var(--border-radius);
}

.profileBox {
  padding: 1em;
}

@media only screen and (max-width: 900px) {
  body {
    display: inline;
  }
  main {
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
  }
  .profileBox {
    margin-top: 1em;
  }
}