@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red: #FC4747;
    --dark-navy: #10141E;
    --soft-blue: #5A698F;
    --navy: #161D2F;
    --white: #FFF;
    --large-heading: 2rem;
    --medium-heading: 1.5rem;
    --small-heading: 1.5rem;
    --xs-heading: 1rem;
    --border-radius: 15px;
}