.title, .date, .description {
    color: var(--white);
    margin-bottom: 1rem;
}

.movieDetailContainer {
    display: flex;
    height: 100%;
    align-items: center;
    background-color: var(--navy);
    border-radius: var(--border-radius);
}

.imageContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 500px;
    width: 300px;
}

.infoContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .movieDetailContainer {
        padding: 1em;
    }
    .imageContainer {
        width: 45%;
    }
    .infoContainer {
        width: 55%;
        padding: 1em;
    }
}